PORT=
MONGO_URI=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_LIFETIME=
REFRESH_TOKEN_LIFETIME=
ACTIVATE_TOKEN_SECRET=
ACTIVATE_TOKEN_LIFETIME=
RECOVERY_TOKEN_SECRET=
RECOVERY_TOKEN_LIFETIME=
EMAIL_USER=
EMAIL_PASSWORD=
FRONTEND_URL=